
.intro-3 {
    background: url("../img/architecture.jpg")no-repeat center center;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #39448c !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #39448c !important;
    }
}

.md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
}

h6 {
    line-height: 1.7;
}

@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
    height: 1200px;
    }
}               

.hm-indigo-strong{
    color: red; 
}
